{% extends "bootstrap/base.html" %}
{% block title %}Ad Maximization{% endblock %}

{% block navbar %}
{{ nav.top.render() }}
{% endblock %}

{% block metas %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
	<h2>Adgears</h2>
	<br><p>This application is built to demonstrate how to:</p>
	<ul>
		<li>Minimize latency for serving real time ads</li>
		<li>Maximizing the revenue generated per impression</li>
		<li>Illustrate the ability to de-duplicate impressions</li>
		<li>Show how to use event based statistics in time series</li>
	</ul>

	<p>Utilizing:</p>
	<ul>
		<li><a href="https://redisgears.io">RedisGears</a> for customization and optimization</li>
		<li><a href="https://redisbloom.io">RedisBloom</a> for de-duplication</li>
		<li><a href="https://redistimeseries.io">RedisTimeseries</a> for event statistics</li>
		<li><a href="https://redis.io/topics/streams-intro">Redis Streams</a> for event queuing</li>
		<li><a href="https://palletsprojects.com/p/flask/">Python Flask</a> to serve the Web UI</li>
		<li><a href="https://www.chartjs.org/">Chart.js</a> to display data</li>
	</ul>

	<p>Goals:</p>
	<ul>
		<li>Simple, easy to understand code</li>
		<li>Detail key points in serving and customizing ads</li>
	</ul>

	<p>Usage:</p>
	<p>Start on the "Get Ads" tab</p>



</div>
{% endblock %}
 
